[submodule "cursos/codigofacilito/procdatostr/clase6/cursos/codigofacilito/procdatostr/clase6/real-time-data-processing-class"]
	path = cursos/codigofacilito/procdatostr/clase6/cursos/codigofacilito/procdatostr/clase6/real-time-data-processing-class
	url = https://github.com/haro-ca/real-time-data-processing-class.git
